In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('./data/westchester.pkl')

In [3]:
df.head()

,Confirmed,Deaths,Recovered,Active,Combined_Key,Date,Population,New Cases,New deaths,New recovered,I,R,Day
0,1873,0,374,0,"Westchester, New York, US",2020-03-22,967506.0,850,0,173,1499,374,0
1,2894,0,708,0,"Westchester, New York, US",2020-03-23,967506.0,1021,0,334,2186,708,1
2,3891,1,961,0,"Westchester, New York, US",2020-03-24,967506.0,997,1,253,2929,962,2
3,4691,1,1120,0,"Westchester, New York, US",2020-03-25,967506.0,800,0,159,3570,1121,3
4,5944,1,1239,0,"Westchester, New York, US",2020-03-26,967506.0,1253,0,119,4704,1240,4

In [6]:
pd.melt(frame = df,
       id_vars='Date',
       value_vars=['I','R'],
       var_name = 'type',
       value_name = 'count')

          Date type  count
0   2020-03-22    I   1499
1   2020-03-23    I   2186
2   2020-03-24    I   2929
3   2020-03-25    I   3570
4   2020-03-26    I   4704
..         ...  ...    ...
111 2020-05-14    R  24107
112 2020-05-15    R  24308
113 2020-05-16    R  24597
114 2020-05-17    R  24796
115 2020-05-18    R  24955

[116 rows x 3 columns]